<h2>This is our form</h2>

<%= form_with model: @blog, local: true do |blog| %>

  <%= blog.text_field :title %>
  <br>
  <%#= blog.password_field :password %>
  <%= blog.text_area :content %>
  <br>
  <%= blog.submit %>

<% end %>