<h1>Index site</h1>

<% @blogs.each do |blog| %>
  <h3><%= link_to blog.title, blog_path(blog) %></h3>
  <p><%= link_to "Edit", edit_blog_path(blog) %> |
  <%= link_to "Delete", blog, :method => :delete %></p>
  <hr>
<% end %>

<p><%= link_to "Create new Post", new_blog_path %></p>
<!--<p><%#= link_to "Create new Post", :action => :new %></p>-->